<section class="product__container">
  <div class="product__photo">
    <img [src]="product?.image" alt="" />
  </div>

  <div class="product__information">
    <h2 class="product__name">{{product?.name}}</h2>
    <h3 class="product__description">{{product?.description}}</h3>
    <h3 class="product__price">{{product?.price | currency: 'BRL'}}</h3>
    <p>Estoque disponivel</p>
    <label for="quantidade">Quantidade: <input type="number" />und(s) </label>
    <p >Disponivel: {{product?.quantidade}}</p>
    <button type="button">Adicionar ao carrinho!</button>
  </div>
</section>
