.product__container {
  display: flex;
  width: 100vw;
  height: 50rem;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: url("/assets/carrinho-de-compras-com-pouca-soneca.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-color: black;
  padding: 200px 0px;
  
}

.product__information {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  word-wrap: break-word;
  color: rgb(0, 0, 0);
}
.product__photo {
  display: flex;
  border-radius: 5px;
}

.product__photo img {
  width: 25rem;
  height: 25rem;
  border-radius: 5px;
}
.product__information {
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
}


label {
    margin: 10px 0;
}

input {
    width: 30px;
    padding: 5px;
    border: solid 1px black;
    margin: 3px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  background-color: var(--blue);
  border: none;
  padding: 10px;
  color: white;
  font-size: 24px;
  transition: 0.3s all;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  filter: brightness(1.3);
}
