<section class="product-list" >
  <div class="product-list__card" *ngFor="let product of products" >
    <a  routerLink="/produtos/{{product.id}}"  class="product-list__link"  >
      <img [src]="product.image" alt="" />

      <h2 class="product-item__name">{{product.name}}</h2>
      <p class="product-item__description">{{product.description}}</p>
      <p class="product-item__price">{{product.price | currency:'BRL'}}</p>
      <p class="product-item__price-description">{{product. priceDescription}}</p>
      <button type="button" class="product-item__buy-button">Comprar</button>
    </a>
  </div>
</section>
