<h2>Entre em Contato</h2>
<section class="contact__container">
  <div class="container">
      <form action="submit"class="contact-forms">
        <input type="text" placeholder="Insira o seu nome" />
        <input type="text" placeholder="Digite o assunto" />
        <input type="tel" placeholder="(00) 00000-0000" />
        <input type="email" placeholder="exe@gmail.com" />
        <input type="text" placeholder="Digite sua mensagem..." />
        <button type="button">Enviar</button>
      </form >
      <address>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127020.60450928195!2d-35.304645280787575!3d-5.799912992801776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7b3aaac26460531%3A0x5d8b404cf00fed69!2sNatal%2C%20RN!5e0!3m2!1spt-BR!2sbr!4v1694030850376!5m2!1spt-BR!2sbr"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </address>
  </div>
</section>
