<header class="main-header">
  <h2 class="main-header__title"><span>Bit </span>Store</h2>
  <nav class="main-header__menu">
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/produtos">Produtos</a></li>
      <li><a routerLink="/contato">Contato</a></li>
    </ul>
  </nav>
  <div class="badge__container">
    <form class="search-bar" >
      <input type="text" name="description" [(ngModel)]="search">
      <button type="submit" class="btn-icon" (click)="onSubmit(search)">
        <i class="fa-solid fa-magnifying-glass search"></i>
      </button>
    </form>
    <div class="cart__container">
      <a routerLink="/cart"
        ><i class="fa-solid fa-cart-shopping"></i
        ><span class="badge-cart">{{ cartService.obtainCart().length }}</span>
      </a>
    </div>
  </div>
</header>
