<header class="main-header">
  <h1 class="main-header__title"><span>Bit </span>Store</h1>
  <nav class="main-header__menu">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/produtos">Produtos</a></li>
      <li><a href="">Contato</a></li>
      <li>
        <a routerLink="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
      </li>
    </ul>
  </nav>
  <form action="" class="search-bar">
    <input type="text">
    <button type="button" class="btn-icon"><i class="fa-solid fa-magnifying-glass search"></i></button>
  </form>
</header>
