.main-header {
  width: 100vw;
  height: 10rem;
  display: flex;
  background: rgb(228,0,0);
  background: linear-gradient(77deg, rgba(228,0,0,1) 0%, rgba(223,1,1,1) 4%, rgba(167,10,10,1) 41%, rgba(177,0,0,1) 100%);
  }

.main-header__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 4rem;
  font-size: 4rem;
}
.main-header__title span {
  text-transform: uppercase;
  color: white;
}
.main-header__menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}

.main-header__menu ul {
  display: flex;
  flex-direction: row;
}
.main-header__menu li {
  list-style: none;
}
.main-header__menu a {
  color: white;
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
  transition: all .2s ease-in-out;

}
.main-header__menu a:hover{
    color: rgb(180, 180, 180);
    transition: all .2s ease-in-out;
}
.search-bar{
    display: flex;
    align-items: center;
    margin: 0px 20px 0px 0px;
}
.search-bar input{
  height: 25px;
}
.fa-magnifying-glass.search{
    background-color: var(--blue);
    color: white;   
    padding: 7px;
}
.btn-icon{
    background-color: var(--blue);
}
