<footer class="footer__container">
  <section class="footer__content">
    <img src="/assets/favicon-32x32.png" width="40" alt="logo">
    <div class="footer__content-about">

      <h2 class="footer__title">Sobre</h2>
      <p class="footer__text-about">
        Site criado para os estudos com o framework Angular, utilizando roteamento, twdb, services, components e módulos.
      </p>
    </div>
    <address class="footer__contact">
      <ul>
        <li>
          <a
            href="https://www.linkedin.com/in/pedro-arthur-97a9ab211/"
            target="_blank"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
        </li>
        <li>
          <a href="https://github.com/Pedroarthur1999" target="_blank"
            ><i class="fa-brands fa-github"></i
          ></a>
        </li>
        <li>
          <a href="https://www.instagram.com/pedro_arthurdm/" target="_blank"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </li>
        <li><i class="fa-brands fa-whatsapp"></i></li>
      </ul>
      <h3>+55(83)99971-7919</h3>
    </address>
  </section>
  <div class="footer__logo">
    <h3>&copy;Todos os direitos reservados</h3>
  </div>
</footer>
