body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
}




.footer__container {
  width: 100vw;  
  background-color: var(--gray);
  display: flex;
  flex-direction: column;  
  color: white;  
}
.footer__content{
    display: flex;    
    justify-content: space-around;
    height: 200px;
    align-items: center;
}
.footer__content-about{
  width: 300px;

  word-wrap: break-word;
}
.footer__title {
    
}
.footer__text-about {

}

.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.footer__contact ul{
  display: flex;
  flex-direction: row;
}
.footer__contact li {
  
  list-style: none;
  padding: 5px;
}

.footer__contact a {
}

i {
  color: white;
  font-size: 2rem;
}

.footer__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-gray);

}
.footer__logo h3{
    font-size: 2rem;
    padding: 2rem;
}